.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureCard {
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all 0.2s ease-in-out;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-color: var(--ifm-color-primary);
}