.feedbackSection {
  /* Usa uma cor de fundo sutil do tema do Docusaurus para separar do resto */
  background-color: var(--ifm-color-emphasis-100); 
  padding: 4rem 0;
  margin-top: 0;
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--ifm-color-emphasis-700);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}